/* Estilo para los mensajes de error */
.text-danger {
    color: red;
}

/* Estilo para campos invalidos usando la pseudo-clase :invalid */
#formAñadirEstudiante input:invalid {
    border-color: red; /* Borde rojo para campos invalidos */
}

/* Estilo para campos válidos usando la pseudo-clase :valid */
#formAñadirEstudiante input:valid {
    border-color: green; /* Borde verde para campos válidos */
}

#formAñadirEstudianteGraduado input:invalid{
    border-color: red; ;
}

#formAñadirEstudianteGraduado input:valid{
    border-color:green; 
}

#formAñadirAsignatura input:invalid{
    border-color: red;
}

#formAñadirAsignatura input:valid{
    border-color: valid; 
}

#formAñadirCalificacion input:invalid{
    border-color: red;
}

#formAñadirCalificacion input:valid{
    border-color: valid; 
}

